[Desktop Entry]
Name=ApexShot
Comment=Open-source Linux screenshot, annotation, and screen recording tool
Exec=/usr/bin/apexshot
Icon=apexshot
Type=Application
Categories=Graphics;
Keywords=screenshot;capture;recording;screen;video;sharex;alternative;linux;ocr;qr;annotation;
StartupNotify=true
StartupWMClass=io.github.codegoddy.apexshot
Terminal=false
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
X-KDE-Wayland-Interfaces=zkde_screencast_unstable_v1
